<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <title>Curved Header Hero</title>
</head>

<body>
    <div class="ag-maecenas-block">
        <div class="ag-maecenas_title">
            <div class="ag-format-container">
                Beautify
            </div>
        </div>
        <div class="ag-format-container">
            <section class="ag-maecenas_box">
                <article class="ag-maecenas_item">
                    <div class="ag-maecenas_descr">
                        <div class="ag-maecenas_title-item">
                            About Us
                        </div>
                        <div class="ag-maecenas_tagline-item">
                            Lorem
                        </div>
                        <ul class="ag-requirement_list">
                            <li class="ag-requirement_item">
                                Lorem ipsum dolor sit amet, consectetuer adipiscing elit;
                            </li>
                            <li class="ag-requirement_item">
                                Aenean commodo ligula eget dolor;
                            </li>
                            <li class="ag-requirement_item">
                                Aenean massa. Cum sociis natoque penatibus et magnis;
                            </li>
                            <li class="ag-requirement_item">
                                Adis parturient montes, nascetur ridiculus mus;
                            </li>
                        </ul>
                    </div>
                    <div class="ag-maecenas_img-box">
                        <img class="svg-maecenas_img">
                        <img src="./image.jpg" alt="image"></img>
                        </svg>
                    </div>
                </article>
            </section>
        </div>
    </div>
</body>

</html>